{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="dashboard-top-spacer">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="twothirds_div">
                {% if users %}
                    <table class="table table-striped table-bordered table-responsive">
                        <tr>
                            <th>Display Name</th>
                            <th>Tier</th>
                            <th>Points</th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td>{{ user[0] }}</td>
                                <td> <span class="tier-ball {{ user[1].lower() }}"></span></td>
                                <td>{{ user[2] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h1>No Data to be shown</h1>
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                        <li><h3>{{ message }}</h3></li>
                        {% endfor %}
                        </ul>

                    {% endif %}
                {% endif %}

                </div>
            </div>
        </div>

    </div>

{% endblock %}
